/* THEME DECLARATION */

/* DECLARATION OF COLOURS FOR LIGHT MODE*/
:root{
    --bg-primary: #cacbcf;
    --bg-secondary: #abafb3;
    --text-primary: #20232A;
    --text-secondary:#454457;
    --accent-primary:#A33434;
    --accent-glow:#be5f5f;

    /* RGB FOR TRANSPARENCY*/
    --text-primary-blur: 202, 203, 207;
}

/*DECLARATION OF COLOURS FOR DARK MODE*/
.darkmode{
    --bg-primary: #1e2327;
    --bg-secondary: #2d313b;
    --text-primary: #cacbcf;
    --text-secondary:#abafb3;
    --accent-primary:#A33434;
    --accent-glow:#be5f5f;

    /* RGB FOR TRANSPARENCY*/
    --text-primary-blur: 32,35,42;
}

*{
    margin: 2px 2px 2px 2px;
    font-family: 'JetBrains Mono', monospace;
}
body{
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    font-family: 'JetBrains Mono', monospace;
}

/* KEYFRAMES FOR GENERAL BLINK ANIMATION*/
@keyframes blink{
    50% {opacity: 1;} 
    0%, 100% {opacity: 0;}
}

/*KEYFRAMES FOR TYPING ANIMATION*/
@keyframes typing{
    from {width:0} to {width:40ch; border-right: none;};
}

@keyframes slogan{
    0%
    {
        opacity: 0;
    }
    90%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

/* NAVIGATION BAR */

.navbar{
    align-items: center;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    background: rgba(var(--bg-primary),0.5);
    border-top: 4px solid var(--text-primary);
    z-index: 999;
}

.navbar li{
    text-transform: uppercase;
    
}

.nav-links{
    display: flex;
    gap: 100px;
    justify-content: center;
    list-style-type: none;
}

.nav-links li{
    flex: 1;
    text-align: center;
}
.nav-links a{
    color: var(--text-primary);
    display: inline-block;
    padding: 6px 14px;
    position: relative;
    text-decoration: none;
    width: 75px;
    text-align: center;
}

.nav-links a::before{
    content: "";
    position: absolute;
    inset: -8px;
    background-color: var(--text-primary);
    z-index: -1;

    clip-path: polygon(
        10% 100%,
        90% 100%,
        100% 0%,
        0% 0%
        );
    opacity: 0;
}


.nav-links a:hover::before{
    opacity: 1;
    
}
.nav-links a:hover{

    color: var(--bg-primary);
    
}

.dropdown{
    display: inline-block;
    position: relative;
    z-index: 1000;
    
}

.dropdown-item {
    width: 120px;
    align-items: center;
    background-size: 100% auto;
    border: 0.2px solid var(--text-primary);
    border-radius: 2px;
    display: none;
    min-width: 150px;
    position: absolute;
    backdrop-filter: blur(2px);
    background-color: rgba(var(--text-primary-blur), 0.4);
}

.dropdown:hover .dropdown-item {
    display: block;
    
}

.dropdown-item a::before{
    clip-path: none;
}
.dropdown-item a:hover{
    padding: 0 30px 0 30px;
    color:var(--bg-primary);
    clip-path: none;
}

.logo{
    height: 32px;
    padding: 0 0 0 10px;
    display: flex;
    justify-content: center;
}
.logo svg path{
    fill: var(--text-primary);

}

.main-header {
    background-color: var(--bg-primary);
    border: 1px solid var(--text-primary);
    border-radius: 10px;
    flex: 0 0 85%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: larger;
}

.main-header h1{
    margin-left: 10px;
    display: inline-block;
    overflow: hidden;
    border-right: 5px solid var(--text-primary);
    white-space: nowrap;
    animation: typing 2.8s steps(30, end) forwards;
}

.main-header h2{
    color: var(--accent-primary);
    animation: slogan 2s steps(1, end);
    padding-left: 20px;
}
.main-header h2::after{
    content:"_";
    color: var(--bg-primary);
    background-color: var(--accent-primary);
    animation: blink 1s steps(1,start) infinite;
}
/* 
.nav-links li a:hover::after{
    content: "_";
} */
.navbar_buttons{
    display: flex;
    
}
button {
    margin-right: 10px;
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 0;
    color: var(--bg-primary);
    background-color: var(--text-primary);
    border: 2px solid var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover{
    box-shadow: 0 0 6px var(--accent-glow);
    border: none;
    background-color: var(--accent-primary);
    display: flex;
    animation: blink 1s steps(1,start) infinite;
    color: var(--bg-primary);
    justify-content: center;
    text-transform: uppercase;
}

#theme svg{
    fill: var(--bg-primary);
}

#theme svg:hover{
    fill: var(--bg-primary);
}
#theme svg:last-child{
    display: none;
}

.darkmode #theme svg:first-child{
    display: none;
}

.darkmode #theme svg:last-child{
    display: block;
} 

.custom-divider{
    height:5px;
    background-color: var(--accent-primary);
    border: 1px solid var(--text-primary);
    border-radius: 10px;
}

.container-generic {
    background-color: var(--bg-primary);
    border: 1px solid var(--text-primary);
    border-radius: 10px;
    padding: 10px;
    display: block;
}

.recommendations{
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    gap: 20px;
}
.card{
    width: 200px;
    height: 320px;
    transform-style: preserve-3d;
    transition: transform 1s;
    
}

.card:hover{
    transform: rotateY(-180deg) translateY(-10px);
    box-shadow: 0 0 6px var(--text-primary);
    border-radius: 10px;
}

.card-front, .card-back{
    backface-visibility: hidden;
    position: absolute;
    width: 200px;
    height: 320px;
    top: 0;
    left: 0;
    border-radius: 10px;
}

.card-front{
    transform: rotateY(0deg);
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    height: 320px;
    border: 1px solid var(--text-primary);
}

.card-front img{
    display: block;
    position: absolute;
    object-fit:cover;
    width: 100%;
    height: 100%;
    border: none;
    
}

.card-back{
    border: 1px solid var(--text-primary);
    background-color: var(--bg-secondary);
    transform: rotateY(-180deg)
}

.card-back h1{
    text-align: center;
}

/* FOOTER STYLING*/
footer{
    background-color: var(--bg-primary);
    text-align: center;
    padding: 20px 0 20px 0;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

/* styling to separate footer into 2 separate columns*/
footer .left{
    text-align: center;
    float: left;
    width: 50%;
}

footer .right{
    text-align: center;
    float:right;
    width: 50%;
}
.opening-table {
    border: 1px solid var(--text-secondary);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    width: 75%;
}

.opening-table tr {
    border: 1px solid var(--text-primary);
}

.opening-table tr:hover{
    background-color:var(--accent-primary);
    color: var(--bg-secondary);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 6px var(--accent-glow);
    transform: scale(1.1);
}

.opening-table tr:hover td{
    color:var(--bg-secondary);
    
}

.opening-table td {
    color: var(--text-secondary)
}

footer > h1{
    color: var(--text-secondary);
}

footer a:link{
    color: var(--text-primary);
}
.copyright{
    color: var(--text_tertiary);
}