/* THEME DECLARATION */

/* DECLARATION OF COLOURS FOR LIGHT MODE*/
:root{
    --bg_primary: #F5E6C8;
    --bg_secondary: #e0d1b4;
    --text_primary: #2B2B2B;
    --text_secondary:#5A5A5A;
    --text_tertiary:#8A7F6B;
    --accent_primary:#c94d4d;
    --accent_glow:#be5f5f;
    --active:#1F5C2E;
    --custom_red:#C44536;
    --custom_yellow: #FFD166;

}

/*DECLARATION OF COLOURS FOR DARK MODE*/
.darkmode{
    --bg_primary: #232E3F;
    --bg_secondary: #1B263B;
    --text_primary: #F5E6C8;
    --text_secondary:#DAD5C6;
    --text_tertiary:#6f6f6f;
    --accent_primary:#e680ba;
    --accent_glow:#f39ece;
    --active:#B6FFD6;
    --custom_red:#FF3B3B;
    --custom_yellow: #FFD166;
}

*{
    margin: 2px 2px 2px 2px;
    font-family: 'JetBrains Mono', monospace;
}
body{
    background-color: var(--bg_secondary);
    color: var(--text_primary);
    font-family: 'JetBrains Mono', monospace;
}

/* KEYFRAMES FOR GENERAL BLINK ANIMATION*/
@keyframes blink{
    50% {opacity: 1;} 
    0%, 100% {opacity: 0;}
}

/*KEYFRAMES FOR TYPING ANIMATION*/
@keyframes typing{
    from {width:0} to {width:40ch; border-right: none;};
}

@keyframes slogan{
    0%
    {
        opacity: 0;
    }
    90%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

/* NAVIGATION BAR */

.navbar{
    align-items: center;
    border: 0.2px solid var(--accent_glow);
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    background-color: var(--bg_primary);
    border: 2px solid var(--text_primary);
    border-radius: 10px;
}

.navbar li{
    text-transform: uppercase;
}

.nav-links{
    display: flex;
    gap: 20px;
    justify-content: center;
    list-style-type: none;
}

.nav-links a{
    color: var(--text_primary);
    padding: 0px 10px 0px 10px;
    text-decoration: none;
}

.nav-links li a{
    display: inline-block;
}

.nav-links li a::before{
    content: "> ";
    opacity: 0;
}
.nav-links li a:hover::before{
    opacity: 1;
}

.nav-links li a:hover{
    background-color: var(--accent_primary);
    margin:0;
    transform: scale(1.15);
    box-shadow: 0 0 6px var(--accent_glow);
    color: var(--bg_secondary);
    transition: all 0.2s ease-in-out;
}


.dropdown{
    display: inline-block;
    position: relative;
    z-index: 1000;
}

.dropdown_item {
    backdrop-filter: blur(10px);
    background-color: rgba(var(--bg_secondary), 0.2);
    background-size: 100% auto;
    border: 0.2px solid var(--text_primary);
    border-radius: 2px;
    display: none;
    min-width: 150px;
    position: absolute;
}

.dropdown:hover .dropdown_item {
    display: block;
}


.logo{
    height: 32px;
    padding: 0 0 0 10px;
    display: flex;
    justify-content: center;
}
.logo svg path{
    fill: var(--text_primary);
}

.main_header {
    background-color: var(--bg_primary);
    border: 2px solid var(--text_primary);
    border-radius: 10px;
    flex: 0 0 85%;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.main_header h1{
    margin-left: 10px;
    display: inline-block;
    overflow: hidden;
    border-right: 5px solid var(--text_primary);
    white-space: nowrap;
    animation: typing 2.8s steps(30, end) forwards;
}

.main_header h2{
    color: var(--accent_primary);
    animation: slogan 2s steps(1, end);
}
.main_header h2::after{
    content:"_";
    color: var(--bg_primary);
    background-color: var(--accent_primary);
    animation: blink 1s steps(1,start) infinite;
}
/* 
.nav-links li a:hover::after{
    content: "_";
} */
.navbar_buttons{
    display: flex;
    
}
button {
    margin-right: 10px;
    position: relative;
    height: 44px;
    width: 70px;
    border-radius: 10px;
    color: var(--bg_primary);
    background-color: var(--accent_primary);
    border: 2px solid var(--accent_primary);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover{
    box-shadow: 0 0 6px var(--accent_glow);
    border: none;
    background-color: var(--accent_primary);
    display: flex;
    animation: blink 1s steps(1,start) infinite;
    height: 44px;
    border-radius: 10px;
    width: 70px;
    color: var(--bg_primary);
    justify-content: center;
    text-transform: uppercase;
}

#theme svg{
    fill: var(--bg_primary);
}

#theme svg:hover{
    fill: var(--bg_primary);
}
#theme svg:last-child{
    display: none;
}

.darkmode #theme svg:first-child{
    display: none;
}

.darkmode #theme svg:last-child{
    display: block;
} 


/* FORM STYLING */
/* SIGN UP*/
.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.modal button:hover{
    animation: none;
}
.modal-content{
    min-height: 75vh;
    padding: 20px 20px 20px 20px;
    position: relative;
    background-color: var(--bg_secondary);
}

.close{
    /* TODO: align close button to the right*/
    cursor: pointer;
}

.password a{
    color:var(--accent_primary);
}

.custom-divider{
    height:5px;
    background-color: var(--accent_primary);
    border: 1px solid var(--text_primary);
    border-radius: 10px;
}
/* FOOTER STYLING*/
footer{
    background-color: var(--bg_primary);
    text-align: center;
    padding: 20px 0 20px 0;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

/* styling to separate footer into 2 separate columns*/
footer .left{
    text-align: center;
    float: left;
    width: 50%;
}

footer .right{
    text-align: center;
    float:right;
    width: 50%;
}
.opening-table {
    border: 1px solid var(--text_secondary);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    width: 75%;
}

.opening-table tr {
    border: 1px solid var(--text_primary);
}

.opening-table tr:hover{
    background-color:var(--accent_primary);
    color: var(--bg_secondary);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 6px var(--accent_glow);
}

.opening-table tr:hover td{
    color:var(--bg_secondary);
    transform: scale(1.1);
}

.opening-table td {
    color: var(--text_secondary)
}

footer > h1{
    color: var(--text_secondary);
}

footer a:link{
    color: var(--text_primary);
}
.copyright{
    color: var(--text_tertiary);
}